$primary-color: #041335;
$secondary-color:#e0bdae;
$light:#03506f;
$lighter:#bbbbbb;

$font-weights: (
  "regular":400,
  "medium":500,
  "bold": 700
);

* {
  box-sizing: border-box;
  margin: 0 ; 
  padding: 0 ;
}

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}


@mixin media-md {
  @media screen and (min-width: 768px) {
  @content;
}

}
@mixin media-lrg {
@media screen and (min-width: 1250px) and (min-height:800px){
  @content;
}

}
@mixin media-xlrg {
@media screen and (min-width: 1600px){
  @content;
}

}

@mixin ease {
  transition: all 0.5s ease-in-out;
}


@mixin animation {
   animation: expand 1s ease-in;
}  
@mixin ani {
  animation: expand 1s ease-in;
}  
@keyframes expand {
 from {
  transform: scaleX(0);
    }
  to {
  transform: scaleX(1);
    }
  }
  
 
  
  
  @keyframes pulse{
    0%{
      opacity: 0;
    }
    60%{
      transform: rotate(-5deg) scale(4);
    }
    100%{
      opacity:1;
      transform: rotate(15deg) scale(1);
    }
  }
  
  
  
  