.contact {
  height:150vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 30rem;
  // padding-right: 45rem;

  background: linear-gradient(to top, rgba($primary-color, 0.8), rgba($primary-color, 1)),
    url("../../assets/connect.jpeg") no-repeat center top;
  background-size: cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  &__list {
    font-size: 2rem;
    a{
      padding: 30px;
    }
  }
  .xtra{
    font-size: 4rem;
  }
}
