.projects {
  margin-bottom: 18rem;
  border-radius: 2%;
  background:
  linear-gradient(
    to bottom,
    rgba($primary-color, 0.85),
    rgba($primary-color, 1)
  ),
   url('../../assets/projects.png') center top;
  background-size: cover;
  h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
    text-align: center;
    background:
    linear-gradient(
      to bottom,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.0)
    ),
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem 3rem;
    font-size: 3rem;
    a {
      &:hover {
        color: $secondary-color;
      }
    }
  }


}
