@include media-md {
  .header {
    padding-top: 0rem;
  }
  .home {
    padding-top: 50vh;
    &__name {
      font-size: 8rem;
    }
  }

  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    position: relative;
    width: 98vw;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }
      &__link {
        font-size: 1.5rem;
      }
    }
  }
  .about {
    height: 130vh;
    &H {
      text-align: center;
      padding: 2rem;
      font-size: 3rem;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &_img-cont {
      width: 350px;
      height: 620px;
    }
    &__bio-image {
      width: 350px;
    }

    &__bio p {
      line-height: 1.3;
      justify-content: flex-start;
      margin-right: 1rem;
    }
  }
  .projects {
    .slideshow-container {
      margin: auto;
    }
    .prev,
    .next {
      top: 29rem;
      font-size: 22px;
    }
    h1 {
      font-size: 3rem;
      padding: 2rem;
    }
    height: 120vh;
    .projects_description {
      line-height: 1.5;
    }
  }

  .skills {
    padding-top:5rem;
    height: 110vh;
    h1 {
      font-size: 3rem;
      padding: 2rem;
    }
    &__items {
      font-size: 5rem;
      margin: 4rem auto 0 auto;
      height: 100vh;
      width: 80vh;
    }
    .small {
      font-size: 1rem;
    }
    .bigger {
      font-size: 8rem;
    }
    .big {
      font-size: 6rem;
    }
    .xtra {
      font-size: 10rem;
    }

    img {
      max-width: 7rem;
      max-height: 5rem;
      text-align: center;
    }
  }

  .contact {
    height: 120vh;
    margin-top: 10rem;
  }
  .social-icons {
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.2rem;

    a {
      padding: 0.6rem;

      &:hover {
        color: $light;
      }
    }
  }
}

@include media-lrg {
  .about {
    &_img-cont {
      margin-top: 2rem;
      width: 400px;
      height: 720px;
    }
    &__bio-image {
      width: 400px;
    }

    &__bio p {
      font-size: 1.8rem;
      margin-top: 3rem;
      margin-right: 2rem;
      margin-left: -4rem;
    }
  }
  
  .skills {
   
    &__items {
      height: 100vh;
      width: 105vh;
      grid-template-columns: repeat(5, 1fr);
    }

  }
}
@include media-xlrg {

  .about {
    height: 100vh;
   &__bio p {
      font-size: 2rem;
      line-height: 1.5;
      margin-right: 4rem;
      margin-left: -8rem;
      
    }
  }
  .projects{
    .slideshow-container {
      max-width: 1100px;
    }
    .projects_description {
          font-size: 2rem;
    }
    .prev, .next {
      top:40rem;
      font-size: 1.8rem;    
    }

  }
  .skills {
   height: 100vh;
    &__items {
     font-size: 6rem;
    }
    .bigger{
      font-size: 10rem;
    }
    .big{
      font-size:8rem
    }
  }

.contact{
  h2{
  font-size:5rem;
  }
 &__list{
   font-size: 3rem;
  .xtra{
    font-size: 6rem;
  }
  }
 
}


}
