@include media-md {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    position: relative;
    
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;


      &__item {
        display: inline;
        padding-right: 1.5rem;
      }
      &__link {
        font-size: 1.5rem;
      }
    }
  }
.about {
  height: 100vh;
  &H{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;

  &__bio-image{
    background-position: 35% 65%;
    background-size: contain;


  }
  &__bio{
  position: relative;
  right: 13rem;
  height: fit-content;
  }
}

.projects{
  margin-bottom: 18rem;
  h1{
    font-size: 3rem;
    padding: 2rem;
  }
  height: 100vh;


}
.skills{
  margin:5rem;
  padding: 5rem;
  font-size: 5rem;
  h1{
    font-size: 3rem;
    padding: 2rem;
  }
  &__items{
    grid-template-columns: repeat(5, 1fr);

  }
  &__item{
    margin:4rem;
  }

}


}
