@include media-md {
  .header {
   padding-top: 0rem;
  }
  .home{
    padding-top: 50vh;
    &__name{
      font-size: 8rem;
    }
  }

  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    position: relative;
    width: 98vw;

    
    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: transparent;
      text-align: right;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }
      &__link {
        font-size: 1.5rem;
      }
    }
  }
.about {
  height: 100vh;
  &H{
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
  }
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
  &_img-cont{
      width: 350px;
      height: 620px;
      }
    &__bio-image {
      width: 350px;   
      
  
    }
   
  &__bio{
   font-size: 2rem;
   line-height: 1.3;
   padding-top: 2rem;
   justify-content: flex-start;
   margin-left: -4rem;
   margin-right: 8rem;    
  }

}
.projects{
 .slideshow-container {
    margin: auto;
  }
  .prev, .next {
    
    top: 29rem;
    font-size: 22px;
  }
  h1{
    font-size: 3rem;
    padding: 2rem;
  }
  height: 100vh;
.projects_description{
    line-height: 1.5;
    font-size: 1.7rem;
    text-align: justify;
  }
}


.skills{
   
  h1{
    font-size: 3rem;
    padding: 2rem;
  }
  &__items{
    font-size: 6rem;
    margin-top: 4rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .bigger {
    font-size: 8rem;
  }
  .big{
    font-size: 6rem;
  }
  .xtra{
    font-size: 11rem;
  }
 
  img{
    max-width: 7rem;
    max-height: 5rem;
    text-align: center;
      }
 

}

.contact{
  margin-top: 8rem ;
}
.social-icons {
  visibility: visible;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.2rem;

  a {
    padding: 0.6rem;

    &:hover {
      color: $light;
    }
  }
}

}